@media print {

  body {
    zoom: 0.8;
  }

  body * {
    visibility: hidden;
  }

  #printArea, #printArea * {
    visibility: visible;
  }

  #printArea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  table {
    font-size: 11px;
  }

  th, td {
    padding: 4px;
  }

  h1 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  tr {
    page-break-inside: avoid;
  }

  /* 🔥 ESSA LINHA RESOLVE SEU PROBLEMA */
  thead {
    display: table-row-group;
  }

}